### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
!/kmeans_for_anchors.py

!/train_prune_eager.py

!/logs_depth

!/nets

!/utils

!/train.py

!/logs

!/2007_train.txt

!/predict.py

!/convertPbModel_evalData_yolov4.ipynb

!/VOCdevkit.zip

!/train_prune_eager_with_depth.py

!/font

!/get_dr_txt.py

!/2007_test.txt

!/2007_val.txt

!/img

!/yolo_prune.py

!/models

!/README.md

!/LICENSE

!/model_data

!/detDepthStrawb-prunedYolov4Tiny-plainNN.py

!/VOCdevkit

!/yolo.py

!/voc_annotation.py

!/codes_for_with_depth
